﻿﻿@{
	ViewBag.Title = "Something went wrong...";
}
<h1 style="color:red;">Что-то пошло не так! - Status code 500</h1>
<p style="color: white;">Администраторы сайта уже дерутся за возможность помочь Вам!</p>


