
@{
    ViewBag.Title = "Отказ в доступе";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>(500) Access denied!.</h1>
<p>Something went wrong.</p>
<p>Please, contact the support by emailing them this page error.</p>
<p>To find the available contacts write to: max-shelll@yandex.ru</p>




