﻿﻿@using Microsoft.AspNetCore.Identity;
@using MainBlog.Data.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager;

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div>
        <h1>Hello @User.Identity.Name</h1>
    </div>

    <div class="topnav">
        <div id="button">
            <form>
                <button method="get" type="submit" class="enter_submit" asp-controller="Posts" asp-action="UserBlog">На страницу пользователя...</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="row1">

        <div class="side">
            <div class="center">
                <h1 style="color: rgba(57,227,237,1);">Пользуйтесь нашим блогом! Регистрируйтесь всего за 1 минуту, делитесь мыслями, оставляйте комментарии.</h1>
            </div>            
        </div>
    </div>
}
