html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;

}

body {
    margin-bottom: 60px;
    background: url(../img/bg.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.userPostsTextArea {
    overflow-y: visible;
    height: 100px;
    width: 100%;
    background-color: bisque;
}

/*мои элементы*/
#logoutBttn {
    border: 0;
    height: 35px;
    width: 35px;
    background-image: url('../img/exit.png');
    background-size: cover;
}
#postBlock {
    background-color: rgba(200,200,200,0.9);
    border: solid 1px blue;
    margin: 5px 0 5px 0;
}
#textBlock {
 background-color: floralwhite;
}
#textPost {
    background-color: rgba(200,200,200,0.9);
}
#SetCommentButton {

}

.divHead {
    background-color: teal;
}