@model MainBlog.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Логинимся!";
}

<h1 style="color: rgba(57,227,237,1); font-family:Arial">Логинься!</h1>
<hr />
<div style="position: relative; background-color: rgba(0,0,0,0.5); color: rgba(57,227,237,1)">
    <form method="post" asp-controller="AuthReg" asp-action="Login" style="display: grid">

        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span style="color:red;" asp-validation-for="Email"></span>

        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span style="color:red;" asp-validation-for="Password"></span>
        <div>
            <input class="radio" asp-for="RememberMe" type="radio" value="true" />RememberMe<Br>
        </div>
        <input class="AccountButton" type="submit" value="Войти" 
                style="" />
    </form>
</div>