@model MainBlog.ViewModels.RegistrateViewModel;
@{
    ViewData["Title"] = "Окно регистрации";
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
<div class="text-center">
<h1>Окно регистрации</h1>
</div>
<hr />
<div style="position: relative">
    <form asp-controller="AuthReg" asp-action="RegistrateUser" style="display: grid">

        <label asp-for="Name"></label>
        <input asp-for="Name" />

        <label asp-for="Age"></label>
        <input asp-for="Age" />

        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>

        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>

        <label asp-for="ComparePassword"></label>
        <input asp-for="ComparePassword" />
        <span asp-validation-for="ComparePassword"></span>

        <input type="submit" value="Create" />
    </form>
</div>